body {
    height: 100%;
    background-color: #252f50;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    --w: 4;
    --h: 3;
}

.aspect-ratio:before {
    content: '';
    width: 100%;
    padding-top: calc(var(--h) * 100% / var(--w));
    display: block;
}

.aspect-ratio .content {
    position: absolute;
    width: 100%;
    height: 100%
}


h1 {
    color: #FFFFFF;
    font-family: verdana;
    font-size: larger;
}

.text-h-center {
    text-align: center;
}

.text-h-left {
    text-align: left;
}

.text-v-center {
    vertical-align: top;
}

.content {
    display: flex;
    justify-content: flex-start;
}

.box {
    width: 33.3%;
    height: 97vh;
    margin: 0px;
    background-color: #38477A;
    color: #ffffff;
}

.buttonPhoneHardDrop,
.buttonPhoneDown,
.buttonPhoneLeft,
.buttonPhoneRight,
.buttonPhoneRotationLeft,
.buttonPhoneRotationRight,
.buttonPhoneRotationSwitch{
    display: none;
}

@media screen and (max-width: 1170px) {
    .hide-in-phone {
        display: none;
    }

    .game {
        width: 100%;
    }

    .buttonPhoneHardDrop,
    .buttonPhoneDown,
    .buttonPhoneLeft,
    .buttonPhoneRight,
    .buttonPhoneRotationLeft,
    .buttonPhoneRotationRight,
    .buttonPhoneRotationSwitch{
        display: flex;
        position: fixed;
        background-color: #252f50;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        font-size:xx-large;
        color:white;
        user-select: none;
        padding:  0;
        width: 20%;
        height: 10%;
    }

    .buttonPhoneHardDrop {
        bottom: 10%;
        right: 20%;
    }

    .buttonPhoneDown {
        bottom: 0%;
        right: 20%;
    }

    .buttonPhoneLeft {
        bottom: 0%;
        right: 40%;
    }

    .buttonPhoneRight {
        bottom: 0%;
        right: 0%;
    }

    .buttonPhoneRotationLeft {
        bottom: 0%;
        right: 80%;
    }

    .buttonPhoneRotationRight {
        bottom: 0%;
        right: 60%;
    }
    .buttonPhoneRotationSwitch {
        bottom: 10%;
        right: 80%;
    }

}