html{
    backface-visibility: hidden;
    perspective: 1000;
    overflow: hidden;
    margin: 0; height: 100%; overflow: hidden;
}

body {
    background: #000;
    /* cursor: none; */
    margin: 0; height: 100%; overflow: hidden;
}

#squareout {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 900px;
    height: 700px;
    /* border: white 2px solid; */
    /* box-shadow : 0px 0px 20px 8px rgb(255, 255, 255); */
    transform: translate(-50%, -50%);
}

#square {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 800px;
    height: 600px;
    border: white 2px solid;
    /* box-shadow : 0px 0px 20px 8px rgb(255, 255, 255); */
    transform: translate(-50%, -50%);
    user-zoom: none;
    user-select: none;
    /* overflow:hidden; */
}

#lynics {
    bottom: 1%;
    left: 50%;
    /* border: 1px solid white; */
    text-align: center;
    color:white;
    width: 800px;
    height: 20px;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select:none;   
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.1s;
}
#lynics.hide{
    opacity: 0;
}

#meta {

    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    background-size: 100px 100px;
    top: 80%;
    left: 52.5%;
    transform: translate(-50%, -50%) rotate(0deg);
    /* border: white 1px solid; */
    border-radius: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    user-select:none;
    overflow: none;
    animation-iteration-count: infinite;
    animation-duration: 0.001s;
}

.bullet{

    /* top: 200%;
    left: 200%; */
    /* border: white 1px solid; */
    width: 10px;
    height: 10px;
    display: block;
    position: fixed;
    border-radius: 100%;
    /* box-shadow : inset 0px 0px 8px 1px rgb(255, 100, 0); */
    background-position: 50% 50%;
    transform: translateZ(0) translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: white 1px solid; */
    /* z-index: 1; */
}

#startbutton{

    top: 200%;
    left: 200%;

    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;

}

#premovetext{
    top: 70%;
    left: 50%;
    /* border: 1px solid white; */
    text-align: center;
    color:white;
    width: 400px;
    height: 50px;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select:none;   
    
}

#seizurewarning{

    top: 30%;
    left: 50%;
    /* border: 1px solid white; */
    text-align: center;
    color:white;
    width: 100%;
    height: 200px;
    font-size: 32px;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select:none;
}

.morgan{

    top: 10%;
    left: 50%;

    width: 200px;
    height: 200px;
    display: block;
    position: fixed;
    transform: translate(-50%, -50%);
    filter: blur(200px);
    transition: filter 5s linear, opacity 5s linear;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
    z-index: 1;
    opacity: 0;
    background-image: url(./morgan.png);
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
}


@keyframes borderBeats{
    0%{
        box-shadow : none;
    }
    0.0000001%{
        box-shadow : 0px 0px 10px 4px rgb(192, 192, 192);
    }
    100%{
        box-shadow : none;
    }
}

@keyframes hurt{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    50.0000001%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotates{
    0%{
        transform: translate(-50%, -50%) rotate(0deg) ;
    }
    
    16.66%{
        transform: translate(-50%, -50%) rotate(0deg) ;
    }
    16.67%{
        transform: translate(-50%, -50%) rotate(60deg) ;
    }

    33.33%{
        transform: translate(-50%, -50%) rotate(60deg) ;
    }
    33.34%{
        transform: translate(-50%, -50%) rotate(120deg) ;
    }


    50%{
        transform: translate(-50%, -50%) rotate(120deg);
    }
    50.01%{
        transform: translate(-50%, -50%) rotate(180deg);
    }

    66.66%{
        transform: translate(-50%, -50%) rotate(180deg);
    }
    66.67%{
        transform: translate(-50%, -50%) rotate(240deg);
    }

    83.32%{
        transform: translate(-50%, -50%) rotate(240deg);
    }
    83.33%{
        transform: translate(-50%, -50%) rotate(300deg);
    }

    99.99%{
        transform: translate(-50%, -50%) rotate(300deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}