/* html,
body {
    overflow: hidden;
} */

:root {
    --font-size: 30px;
    --countertext: 1.4;
}

#checkboxland>div>input {
    width: 24px;
    height: 24px;
}





body {
    background-color: rgb(20, 20, 35);
}

@font-face {
    font-family: DSEG7;
    src: url(./font/DSEG7Modern-Bold.woff)
}

@font-face {
    font-family: DSEG14;
    src: url(./font/DSEG14Modern-Bold.woff)
}

.divInitButton {
    display: flex;
    position: fixed;
    width: 20%;
    height: 10%;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    /* border: 3px rgb(255, 255, 255) solid; */
    justify-content: center;
    color: white;
}

.divInitButton>button {
    width: 100%;
    font-size: var(--font-size);
}

.divMiddle {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    gap: 3px 0px;
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    color: white;
    line-height: 0%;
    background-color: dimgray;
    box-shadow:
        0 0px 0px 2px rgb(64, 64, 64),
        0 50px 0px 0px rgb(50, 50, 50),
        0 0px 0px 2px rgb(64, 64, 64),
        0 50px 0px 2px rgb(64, 64, 64);
    /* font-size: var(--font-size); */
    /* border: 1px rgb(255, 255, 255) solid; */
}

.divBomb {
    /* visibility: hidden; */
    display: inline-block;
    background-color: darkgray;
    margin: 0.5% 0.5% 0.5% 0.5%;
    width: 32%;
    padding: 0px;
    height: 47%;
    border: 1px rgb(255, 255, 255) solid;
}

.divInsidebomb {
    display: block;
    position: relative;
    width: 5%;
    height: 5%;
    font-size: var(--font-size);
    justify-content: center;
    color: white;

    /* border: 1px red solid; */
}

.divInsidebomb>input {
    font-size: calc(var(--font-size) * 0.8);
    width: 100%;
    height: 100%;
    text-align: center;
}


.divInsidebomb>button {
    font-size: calc(var(--font-size) * 0.8);
    width: 120%
}

#divBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(./logo.png);
    position: absolute;
    background-position: 50% 50%;
    transform: translateY(-112px);
    background-repeat: no-repeat;
}

#divForeground {
    width: 100%;
    height: 100vh;
    opacity: 0%;
    background-image: unset;
    visibility: hidden;
    position: absolute;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-70px);
    z-index: 50;
}

#divRightBottomButton {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    background-image: url(../img/car.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#divRightBottomButton:hover~#divRightBottomButtonText {
    position: fixed;
    width: 100px;
    height: 20px;
    bottom: 87px;
    right: 0px;
    text-align: center;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.roundButton {

    position: relative;
    left: 25%;
    top: 20%;
    border: none;
    font-weight: bold;
    padding: 5px;
    font-size: calc(var(--font-size) * 0.7);
    height: 58%;
    width: 48%;
    box-shadow: 0 6px 4px darkslategray;
    cursor: pointer;
    border-radius: 70%;
    user-select: none;
}

.roundButton:active {
    box-shadow: 0 0 4px darkslategray;
    transform: translateY(6px);
}

.roundButtonBlue {
    background-color: dodgerblue;
    color: white;
}

.roundButtonRed {
    background-color: red;
    color: white;
}

.roundButtonGreen {
    background-color: forestgreen;
    color: white;
}

.roundButtonYellow {
    background-color: yellow;
    color: black;
}



.checkboxlandBox {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#startText {
    width: 90%;
    height: 10%;
    font-size: calc(var(--font-size) * 1.5);
    color: red;
    user-select: none;
    background-color: unset;

    font-weight: bold;

    visibility: hidden;
    display: flex;
    word-break: break-all;
    flex-wrap: wrap;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    /* line-height: 0%; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* border: 1px solid white; */
}



.clock {
    transform: scaleY(1.3);
    font-family: DSEG7;
    color: red;
    font-size: calc(var(--font-size) * 1.4);
    position: absolute;
    /* animation-name: numberFlashing; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    user-select: none;
}

.clockbg {
    transform: scaleY(1.3);
    font-family: DSEG7;
    color: rgba(194, 206, 206, 0.12);
    font-size: calc(var(--font-size) * var(--countertext));
    position: absolute;
    user-select: none;
}

.clockout {
    position: relative;
    display: flex;
    width: 80%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(100, 100, 100);
    top: 12%;
    left: 8%;
    user-select: none;
}

.clock {
    font-family: DSEG7;
    color: red;
    font-size: calc(var(--font-size) * var(--countertext));
    position: absolute;
    /* animation-name: numberFlashing; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    user-select: none;
}



.counter {
    letter-spacing: -9px;
    font-family: DSEG14;
    color: red;
    font-size: calc(var(--font-size) * 1);
    position: absolute;
    /* animation-nam8e: numberFlashing; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: translateX(-4px);
    user-select: none;
}

.counterbg {
    letter-spacing: -9px;
    font-family: DSEG14;
    color: rgba(194, 206, 206, 0.12);
    font-size: calc(var(--font-size) * 1);
    position: absolute;
    transform: translateX(-4px);
    user-select: none;
}

.counterout {
    position: relative;
    display: flex;
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(100, 100, 100);
    top: 16%;
    left: 40%;
    user-select: none;
}

.versionText {
    position: fixed;
    bottom: -1.6%;
    left: 0px;
    font-size: calc(var(--font-size) * 0.5);
    color: rgb(80, 80, 105);
    user-select: none;
}



@media (min-width: 0px) {

    html,
    body {
        overflow: visible;
    }

    :root {
        --font-size: 16px;
    }

    #checkboxland>div>input {
        width: 20px;
        height: 20px;
    }

    .divBomb {
        background-color: darkgray;
        margin: 0.5% 0.5% 0.5% 0.5%;
        width: 100%;
        height: 150px;
    }

    .divMiddle {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: unset;
    }
}

@media (min-width: 800px) {

    html,
    body {
        overflow: hidden;
    }


    :root {
        --font-size: 20px;
    }

    #checkboxland>div>input {
        width: 24px;
        height: 24px;
    }

    .divBomb {
        background-color: darkgray;
        margin: 0.5% 0.5% 0.5% 0.5%;
        height: 25%;
        width: 30%;
        height: 47%;
    }

    .divMiddle {
        background-color: dimgray;
        box-shadow:
            0 0px 0px 2px rgb(64, 64, 64),
            0 50px 0px 0px rgb(50, 50, 50),
            0 0px 0px 2px rgb(64, 64, 64),
            0 50px 0px 2px rgb(64, 64, 64);
    }
}

@media (min-width: 1100px) {

    html,
    body {
        overflow: hidden;
    }

    :root {
        --font-size: 30px;
    }

    #checkboxland>div>input {
        width: 30px;
        height: 30px;
    }

    .divBomb {
        background-color: darkgray;
        margin: 0.5% 0.5% 0.5% 0.5%;
        width: 31%;
        height: 47%;
    }
}

@media (min-width: 1400px) {

    html,
    body {
        overflow: hidden;
    }

    :root {
        --font-size: 40px;
    }

    #checkboxland>div>input {
        width: 36px;
        height: 36px;
    }

    .divBomb {
        background-color: darkgray;
        margin: 0.5% 0.5% 0.5% 0.5%;
        width: 32%;
        height: 47%;
    }


}

@media (min-width: 1700px) {

    html,
    body {
        overflow: hidden;
    }

    :root {
        --font-size: 48px;
    }

    #checkboxland>div>input {
        width: 40px;
        height: 40px;
    }

    .divBomb {
        background-color: darkgray;
        margin: 0.5% 0.5% 0.5% 0.5%;
        width: 32%;
        height: 47%;
    }


}


@keyframes numberFlashing {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    24.999999% {
        color: rgba(0, 0, 0, 0);
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
        visibility: visible;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes fade-in {

    0% {
        opacity: 0;
        visibility: hidden;
    }

    99.999999% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        visibility: visible;
    }

}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    99.99999% {
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bombDrop {

    0% {
        z-index: 20;
        transform: rotate(0deg);
    }

    25% {
        z-index: 20;
        transform: rotate(5deg);
    }

    100% {
        z-index: 20;
        transform: rotate(5deg) translateX(30px) translateY(300%);
    }
}

@keyframes bombShake {

    0% {
        transform: translateX(2px);
    }

    20% {
        transform: translateX(-2px);
    }

    30% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    60% {
        transform: translateX(-2px);
    }

    70% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    90% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }

}

@keyframes bombDefuseShow {
    0% {
        filter: brightness(100%);
    }

    0.00001% {
        visibility: visible;
    }

    15% {
        opacity: 100%;
        filter: brightness(500%);
    }

    30% {
        filter: brightness(100%);
        opacity: 100%;
    }

    70% {
        opacity: 100%;
    }

    100% {
        filter: brightness(100%);
        visibility: visible;
        opacity: 0%;
    }
}